.profile { 
    height: 400px;
    width: 400px;
    position: relative;
    top: 10%;
    left: 20%;
    display: block;
    justify-content: space-around;
}

.profile-image {
    position: absolute;
    border-radius: 20px;
    border: 5px solid white;
    top: 0%;

}

.profile-bio {
    color: white;
    position: absolute;
    float:left;

    left:5%;
    width: 100%;
    margin-right:15px;
    display:block;
    line-height:3px;
    bottom:0%;
    align-items:flex-end;
    margin: 0%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.profile-name {
    color: white;
    margin: 0%;
    padding: 0%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.profile-cm {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.edit-btn {
    opacity: 60%;
    transition: opacity 0.7s;
    width:40px;
    height:40px;
    transform:scale(0.16);
    position:relative;
}

.edit-btn:hover{
    opacity:100%;
}

.extended-bio{
    position:static;
    top:20%;
    margin:15%;
    margin-top:20px;
    font-size:18pt;
    color:white;
    border:5px solid white;
    border-radius:20px;

}
